# Python basic Guide

This is the python basic guidline for the begineers.

## Comments and variables

In [7]:
"""
this is my comment
this is second comment
"""
# this is also comment

print("Hello World!")

Hello World!

# Data types

In [16]:
a = 7.5
b = True

type(a)

float

## Operators

In [17]:
5 + 5

10

In [14]:
c = ['apple', 'banana', 'pineapple']

In [15]:
type(c)

list

In [18]:
10 - 3

7

In [19]:
10 % 3

1

In [21]:
10 ** 3

1000

In [22]:
x = 5

# x = x + 3
# x = 5 + 3
x += 3

In [23]:
x

8

In [24]:
x *= 2

In [25]:
x

16

In [29]:
x = 20
y = 20

x >= y

True

## List and Dictionary

In [30]:
mylist = ['apple', 'ball', 'cat']
mylist

['apple', 'ball', 'cat']

In [31]:
mydict = {"a": "apple", 'b': 'ball', 'c': 'cat'}
mydict

{'a': 'apple', 'b': 'ball', 'c': 'cat'}

In [32]:
mydict.keys()

dict_keys(['a', 'b', 'c'])

In [33]:
mydict.values()

dict_values(['apple', 'ball', 'cat'])

In [34]:
mydict['a']

'apple'

In [35]:
mydict['a'] = 'ant'

In [36]:
mydict

{'a': 'ant', 'b': 'ball', 'c': 'cat'}

## Conditional statement

In [41]:
x = int(input('Enter your number: '))
if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Enter your number: 50
Above ten,
and also above 20!

## Loops

In [44]:
fruits = ["apple", "banana", "cherry"]

for fruit in fruits:
  print(fruit)

apple
banana
cherry

In [50]:
fruits[2]

'cherry'

In [46]:
for i in range(3):
    print(i, fruits[i])

0 apple
1 banana
2 cherry

## Function and class

In [53]:
def my_function(firstname, lastname):
  return ("Hello! " + firstname + ' ' + lastname)

In [59]:
my_function('Tek', 'Kshetri')

Hello! Tek Kshetri

In [71]:
class Student:
  def __init__(self, name, age):
    self.name = name
    self.age = age
    
  def greeting(self):
    print("Hello! " + self.name)
  
  def calculate_grads(self):
    pass
    
  def assign_grads(self):
    pass

In [69]:
p1 = Student("John", 36)

In [70]:
p1.greeting()

Hello! John

## Working with external libraries

In [72]:
! pip install pandas

Requirement already satisfied: pandas in c:\users\tek\anaconda3\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\tek\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\tek\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\tek\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\tek\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\tek\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [77]:
import pandas as pd

df = pd.DataFrame({'A': [1, 2, 3], 'B': [4,5,6]})

In [78]:
df.head()

   A  B
0  1  4
1  2  5
2  3  6